Export File
[
    {
        "id": "710e5a2059da90d1",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "13c755d6ea048de3",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "624a3add3fa3df31",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c0807d883c476e77",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b8706da5a978b247",
        "type": "tab",
        "label": "Flow 5",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f259248bf45aa23b",
        "type": "ui_tab",
        "name": "Demo",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "888bc9a1a5dd1a1f",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "6402e021fff43d44",
        "type": "ui_group",
        "name": "Analog",
        "tab": "f259248bf45aa23b",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "629f855f0c2d273f",
        "type": "ui_group",
        "name": "Discrete",
        "tab": "f259248bf45aa23b",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a711cacd762ee240",
        "type": "inject",
        "z": "710e5a2059da90d1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 460,
        "y": 300,
        "wires": [
            [
                "36d9250bea8239ef"
            ]
        ]
    },
    {
        "id": "36d9250bea8239ef",
        "type": "debug",
        "z": "710e5a2059da90d1",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 440,
        "wires": []
    },
    {
        "id": "a8a09d83581612a0",
        "type": "inject",
        "z": "624a3add3fa3df31",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Hello World",
        "payloadType": "str",
        "x": 140,
        "y": 260,
        "wires": [
            [
                "3c0de35255f2d1eb"
            ]
        ]
    },
    {
        "id": "7c7a4fb382e7af7a",
        "type": "debug",
        "z": "624a3add3fa3df31",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 330,
        "y": 340,
        "wires": []
    },
    {
        "id": "25067ad4fb9e1292",
        "type": "change",
        "z": "624a3add3fa3df31",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "World",
                "fromt": "str",
                "to": "From Node red",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 180,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "3c0de35255f2d1eb",
        "type": "function",
        "z": "624a3add3fa3df31",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 190,
        "y": 460,
        "wires": [
            [
                "7c7a4fb382e7af7a"
            ]
        ]
    },
    {
        "id": "04420598cf4158ee",
        "type": "inject",
        "z": "c0807d883c476e77",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "9088507b733b1674",
        "type": "mqtt in",
        "z": "c0807d883c476e77",
        "name": "",
        "topic": "",
        "qos": "2",
        "datatype": "auto",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "9b243870cf5fe1a9",
        "type": "http in",
        "z": "c0807d883c476e77",
        "name": "",
        "url": "/test1",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "af48cbdfadbb6144"
            ]
        ]
    },
    {
        "id": "af48cbdfadbb6144",
        "type": "template",
        "z": "c0807d883c476e77",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<body>\n    <h1>Hello World!</h1>\n</body>",
        "output": "str",
        "x": 270,
        "y": 180,
        "wires": [
            [
                "e0a902d389d53648"
            ]
        ]
    },
    {
        "id": "e0a902d389d53648",
        "type": "http response",
        "z": "c0807d883c476e77",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 290,
        "y": 320,
        "wires": []
    },
    {
        "id": "74700ffe1289863b",
        "type": "mqtt out",
        "z": "c0807d883c476e77",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "x": 260,
        "y": 540,
        "wires": []
    },
    {
        "id": "9bd8e109c7878063",
        "type": "ui_button",
        "z": "b8706da5a978b247",
        "name": "",
        "group": "629f855f0c2d273f",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Hello",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 220,
        "wires": [
            [
                "be8356a17ebd79d5",
                "e0f9dca8d6f78c27"
            ]
        ]
    },
    {
        "id": "be8356a17ebd79d5",
        "type": "debug",
        "z": "b8706da5a978b247",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 160,
        "y": 420,
        "wires": []
    },
    {
        "id": "e0f9dca8d6f78c27",
        "type": "ui_text",
        "z": "b8706da5a978b247",
        "group": "6402e021fff43d44",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 310,
        "y": 320,
        "wires": []
    },
    {
        "id": "760fbabb63dbcad5",
        "type": "ui_gauge",
        "z": "b8706da5a978b247",
        "name": "",
        "group": "6402e021fff43d44",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#b30000",
            "#e6e600",
            "#54cb3a"
        ],
        "seg1": "50",
        "seg2": "70",
        "className": "",
        "x": 260,
        "y": 640,
        "wires": []
    },
    {
        "id": "c7e113c6932fabe3",
        "type": "ui_slider",
        "z": "b8706da5a978b247",
        "name": "",
        "label": "slider",
        "tooltip": "",
        "group": "6402e021fff43d44",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 170,
        "y": 580,
        "wires": [
            [
                "760fbabb63dbcad5",
                "9e1f8ef4e6297e89",
                "fb11f7ed00d247de"
            ]
        ]
    },
    {
        "id": "9e1f8ef4e6297e89",
        "type": "ui_chart",
        "z": "b8706da5a978b247",
        "name": "",
        "group": "6402e021fff43d44",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 370,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "fb11f7ed00d247de",
        "type": "ui_chart",
        "z": "b8706da5a978b247",
        "name": "",
        "group": "6402e021fff43d44",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 390,
        "y": 680,
        "wires": [
            []
        ]
    }
]
